:root {
  --nav-item-padding: 0.5rem;
}

.listItem {
  list-style: none;
  width: 100%;
}

.listItem::after {
  content: "";
  display: block;
  clear: both;
}

.listContainer {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.listItem:nth-child(odd) .listContainer {
  float: left;
}

.listItem:nth-child(even) .listContainer {
  float: right;
}
