@import "../../variables.global.css";

.listContainer {
  max-width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.listItem {
  list-style: none;
  display: flex;
  flex-basis: 100%;
  padding: 1rem;
  position: relative;
  text-align: center;
  min-height: 70vh;

  & .logolight {
    display: none;
  }

  & .logodark {
    display: initial;
  }
}

@media (max-width: 1024px) {
  .listItem:nth-of-type(2n) {
    @apply --inverted-colours;

    & .logolight {
      display: initial;
    }

    & .logodark {
      display: none;
    }
  }
}

@media (min-width: 1025px) {
  .listItem {
    flex-basis: 50%;
  }

  .listItem:nth-of-type(4n+2),
  .listItem:nth-of-type(4n+3) {
    @apply --inverted-colours;

    & .logolight {
      display: initial;
    }

    & .logodark {
      display: none;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
  margin: 0;
}

.hero {
  background-color: var(--colorPrimary);
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  opacity: 0.3;

  & > * {
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.header {
  display: flex;
  text-align: center;
  position: relative;
  color: var(--colorNeutralLight);
}

.header .wrapper {
  margin-top: 0;

  & h1 {
    max-width: initial;
  }
}

.icon {
  width: 25%;
  margin-bottom: 2rem;
}

.heading, h2:first-child {
  margin-top: 0;
}

.heading:has(> img) {
  line-height: 0;
}

.heading img {
  width: 100%;
  margin: 0;
}

.blurb {
 /* font-size: 0.74em; */
 font-size: calc((200vw / 375) + 16px);
 line-height: 1.7;
 margin: 2rem 2em 0;
}

.cta {
  color: inherit;
}
