@import "../../variables.global.css";

.listContainer {
  max-width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.listItem {
  list-style: none;
  display: flex;
  flex-basis: 100%;
  padding: 1rem;
  position: relative;
  text-align: center;
  min-height: 70vh;

  @apply --list-item-light;
}

@media (max-width: 1024px) {
  .listItem:nth-of-type(2n) {
    @apply --list-item-dark;
  }
}

@media (min-width: 1025px) {
  .listItem {
    flex-basis: 50%;
  }

  .listItem:nth-of-type(4n+2),
  .listItem:nth-of-type(4n+3) {
    @apply --list-item-dark;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
  margin: 0;
}

.hero {
  background-color: var(--colorPrimary);
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  opacity: 0.25;

  & > * {
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.header {
  display: flex;
  text-align: center;
  position: relative;
  color: var(--colorNeutralLight);
}

.header .wrapper {
  margin-top: 0;
}

.icon {
  width: 25%;
  margin-bottom: 2rem;
}

.heading, h2:first-child {
  margin-top: 0;
}

.listItem .wrapper img {
  margin: 0;
  max-height: 7rem;
  max-width: 20rem;
}

.listItem .wrapper a {
  padding: 3rem 0;
}

.blurb {
 font-weight: 300;
}

.blurb:last-child {
  margin-bottom: 0
}
