@import "../../variables.global.css";

.button {
  display: inline-flex;
  padding: 0 1rem ;
  margin: 2rem 2rem 0;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
  font-size: 0.7em;
  transition: .2s all;

  @apply --button-dark;
}

.secondary {
  color: var(--colorSecondary);
  border: 2px solid var(--colorSecondary);

  &:hover {
    color: var(--colorSecondaryDark);
    border: 2px solid var(--colorSecondaryDark);
  }
}

.light {
  @apply --button-light;
}


.big {
  font-size: 1.5rem;
  padding: 0 2rem;
  line-height: 3rem;
}
