@import "../../variables.global.css";

.button {
  display: inline-flex;
  padding: 0.1em 1em 0;
  margin: 2rem 2rem 0;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
  font-size: 0.7em;
  transition: .2s all;
  cursor: pointer;

  @apply --button-dark;
}

.secondary {
  color: var(--colorSecondary);
  border: 2px solid var(--colorSecondary);

  @media (hover: hover) {
    &:hover {
      color: var(--colorSecondaryDark);
      border: 2px solid var(--colorSecondaryDark);
    }
  }
}

.light {
  @apply --button-light;
}

.big {
  font-size: 1.5rem;
  padding: 0.4em 1em 0.3em;
  margin: 0;
  line-height: 1.7;
  background: var(--colorPrimary);
  color: var(--colorNeutralLight);
  font-weight: 400;

  @media (hover: hover) {
    &:hover {
      background: color(var(--colorPrimary) a(0.8));
      border: 2px solid transparent;
      color: var(--colorNeutralLight);
    }
  }
}
