@import "../../variables.global.css";

.listContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 0 0 0;
  max-width: 100%;
}

.listItem {
  list-style: none;
  position: relative;
  flex-basis: 100%;

  & a {
    @apply --absolute-full;
    cursor: default;
    transition: 0.5s all;
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @media (hover: hover) {
    &:hover {
      & .heading {
        opacity: 1;
      }

      & a:before {
        opacity: 0;
      }
    }
  }
}

.listItem:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 70%;
}

.listItem a:before {
  content: "";
  background: purple;
  opacity: 0.5;
  transition: 0.5s all;

  @apply --absolute-full;
}

@media (min-width: 513px) {
  .listItem {
    flex-basis: 50%;
  }
}

@media (min-width: 1025px) {
  .listItem {
    flex-basis: 25%;
  }
}

.heading {
  position: absolute;
  top: 76%;
  font-size: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .2s all;

  @apply --inverted-colours;
  background: transparent;
  text-align: center;
}
