@import "../../variables.global.css";

.listContainer {
  margin: 3rem auto 9rem;
  padding: 0 3rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listItem {
  list-style: none;
  flex-basis: 100%;
  position: relative;
  overflow: hidden;

  & a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.listItem:before {
  display: block;
  content: "";
  width: 100%;
}

.mainTitles:before {
  padding-top: 150%;
}

.oldTitles:before {
  padding-bottom: 70%;
}

@media (max-width: 1024px) {
  .listItem:not(:first-child) {
    margin-top: 4rem;
  }
}

@media (min-width: 1025px) {
  .listItem {
    flex-basis: 31%;
  }

  .listItem:not(:last-child) {
    margin-right: 1rem;
  }

  .mainTitles:nth-child(2) {
    transform: translateY(2rem);
  }
}

.gameLogo {
  position: absolute;
  top: 30%;
  left: 15%;
  right: 15%;
  /* below line fixes inexplicable jagged edges in Chrome */
  backface-visibility: hidden;

  & :--headings {
    color: white;
    text-align: center;
  }
}

.oldTitles .gameLogo {
  top: 20%;
}
