:root {
  --nav-item-padding: 0.5rem;
}

.header {
  color: var(--mainColorContrasted);
  background: var(--mainColor);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: calc(60rem + (var(--nav-item-padding) * 2));
  margin: 0 auto;
  padding: 0;
  line-height: 3rem;
}

.link {
  display: flex;
  align-items: center;
  padding: 0 var(--nav-item-padding);
  color: inherit;
  text-decoration: none;
}
