@import "../../variables.global.css";

.header {
  margin-top: 0;
  background: var(--colorSecondaryDark);
  position: fixed;
  width: 100vw;
  z-index: 100;
  height: var(--headerHeight);

  & a {
    color: var(--colorNeutralLight);
    font-weight: normal;
  }
}

.menuOpen {
  height: auto;
  padding: 4px 0;
}

.logo {
  line-height: 1;
  font-size: 0%;
}

.nav {
  @apply --content-squash;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  overflow: hidden;
}

.nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.nav li {
  font-size: 0.7em;
  padding-left: 2rem;
  color: inherit;
  text-decoration: none;
}

.menuToggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  flex-basis: calc(100% - 56px);
  margin: 0;
  height: 100%;

  &:hover {
    opacity: 0.6;
  }
}

@media (min-width: 1025px) {
  .nav {
    justify-content: space-between;
  }

  .nav ul {
    flex-direction: row;
  }

  .menuToggle {
    display: none;
  }
}
