@import "../../variables.global.css";

:root {
  --nav-item-padding: 2rem;
}

.header {
  margin-top: 0;
  background: var(--colorSecondaryDark);
  position: fixed;
  width: 100vw;
  z-index: 100;
  /*height: 44px; */
  /*height: calc((400vw / 225) + (112 / 3px)); */
  height: calc((400vw / 375) + 40px);
}

.logo {
  line-height: 1;
  font-size: 0%;
}

.nav {
  @apply --content-squash;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.nav li {
  font-size: 0.7em;
  padding-left: var(--nav-item-padding);
  color: inherit;
  text-decoration: none;
}

.header a {
  color: var(--colorNeutralLight);
  font-weight: normal;
}
