:root {
  --nav-item-padding: 1rem;
}

.header {
  color: var(--mainColor);
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* max-width: calc(60rem + (var(--nav-item-padding) * 2));*/
  margin: 0 auto;
  padding: 0;
}

.link {
  display: flex;
  align-items: center;
  padding: 0 var(--nav-item-padding);
  color: inherit;
  text-decoration: none;
  min-height: 44px;
}
