:root {
  --nav-item-padding: 1rem;
}

.footer {
  color: var(--colorPrimary);
  text-align: right;
}

.navPartSocial {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}

.navPartSocial li {
  display: flex;
  align-items: center;
  padding: 0 var(--nav-item-padding);
  color: inherit;
}

.notices iframe {
  margin-top: 0;
  vertical-align: middle;
}
