:root {
  --nav-item-padding: 1rem;
}

.footer {
  color: var(--colorPrimary);
  text-align: center;
  margin-bottom: 4rem;
}

label {
  font-size: 0.7em;
}

input {
  background: #fff;
  color: var(--colorPrimary);
  border: 2px solid var(--colorPrimary);
  font-size: 0.7em;
  padding: 0.5rem 1rem;
  margin: 0 -2px -2px -2px;
  display: inline;
  font-family: inherit;
  width: 17rem;
}

input[type=submit] {
  font-weight: 600;
}

.navPartSocial {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}

.navPartSocial li {
  display: flex;
  align-items: center;
  padding: 0 var(--nav-item-padding);
  color: inherit;
}

.notices {
  margin: 0 3em;
}

.notices iframe {
  margin-top: 0;
  vertical-align: middle;
}
