@import "../../variables.global.css";

.footer {
  /*color: var(--colorPrimary);*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem 2rem;
  text-align: center;
}

.footer > * {
  flex-basis: 100%;
  -webkit-padding-start: 0em;

}

.notices,
.hosting {
  line-height: 1.9;
  padding-bottom: 1.3em;
}

@media (min-width: 1025px) {
  .footer > * {
    flex-basis: 33%;
    margin: 0;
    text-align: left;
    justify-content: center;
  }
}

.navPartSocial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  padding:0;
  -webkit-padding-start: 0em;
}

.navPartSocial li {
  display: flex;
  align-items: center;
  padding: 0 1rem;

  color: inherit;
}

.notices iframe,
.hosting img {
  margin-top: 0;
  vertical-align: middle;
  max-height: 22px;
  width: auto;
}

.hosting a {
  margin-left: 0.3rem;
  max-height: 10px;
}

.hosting a img {
  margin: -2px 0.3rem 0;
  height: 30%;
}
