.page {
  align-self: center;
  width: 100%;
}

.heading {
  /*font-size: calc((10vw / 3) + (64 / 3px));*/
  font-size: calc(200vw / 75 + 20px);
  line-height: 1.2;
  max-width: 8em;
  margin-bottom: 0.5em;
}

.body {
  font-size: calc(200vw / 375 + 16px);
  margin-bottom: 4em;
}

.body p {
  max-width: 32em;
  margin-bottom: 0.75em;
}
