/* Using global sytles is not recommended, prefer local styles via CSS Modules */

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body,
ul {
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */
html {
  min-height: 100%;
}

body {
  margin: 5%;
  font-size: 1rem;
  line-height: 1.6;

  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family: 'PxGrotesk', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--mainColor);
}

/*
 * .phenomic-HeadingAnchor
 *
 * anchors for markdown headings, generated via markdown renderer, so require
 * global styling
 */
@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:--headings {
  position: relative;
}

:root {
  --phenomic-HeadingAnchor-width: 1.4rem;
  --phenomic-HeadingAnchor-margin: 0.4rem;
}

.phenomic-HeadingAnchor {
  display: inline-block;
  text-align: center;
  margin-left: calc(-1 * (var(--phenomic-HeadingAnchor-width) + var(--phenomic-HeadingAnchor-margin)));
  margin-right: var(--phenomic-HeadingAnchor-margin);
  width: var(--phenomic-HeadingAnchor-width);
  line-height: var(--phenomic-HeadingAnchor-width);
  text-decoration: none;
  opacity: 0.1;
  transition: opacity 0.2s;

  @nest :--headings:hover & {
    opacity: 1;
  }
}

/* styling FAQ content */
.faq-question {
  font-style: italic;
}

.faq-answer {
  color: var(--mainColor);
  opacity: 0.6;
}

/* minimal styling, prefer removing this and use local styles */
a {
  color: var(--mainColor);
}

/* handy for content */
img {
  max-width: 100%;
}

/* making small behave more like a p */
small {
  display: block;
  opacity: 0.6;
}

/* font face https://medium.com/@dowsoncreative/a-little-bit-of-web-font-best-practice-5db63ef14d41#.nfals04ia */

@font-face {
  font-family: 'PxGrotesk';
  src: url('/assets/fonts/PxGrotesk-Light.eot');
  src:
    url('/assets/fonts/PxGrotesk-Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/PxGrotesk-Light.woff2') format('woff2'),
    url('/assets/fonts/PxGrotesk-Light.woff') format('woff'),
    url('/assets/fonts/PxGrotesk-Light.ttf') format('truetype'),
    url('/assets/fonts/PxGrotesk-Light.svg#PxGrotesk') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('/assets/fonts/PxGrotesk-Bold.eot');
  src:
    url('/assets/fonts/PxGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/PxGrotesk-Bold.woff2') format('woff2'),
    url('/assets/fonts/PxGrotesk-Bold.woff') format('woff'),
    url('/assets/fonts/PxGrotesk-Bold.ttf') format('truetype'),
    url('/assets/fonts/PxGrotesk-Bold.svg#PxGrotesk') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('/assets/fonts/PxGrotesk-LightIta.eot');
  src:
    url('/assets/fonts/PxGrotesk-LightIta.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/PxGrotesk-LightIta.woff2') format('woff2'),
    url('/assets/fonts/PxGrotesk-LightIta.woff') format('woff'),
    url('/assets/fonts/PxGrotesk-LightIta.ttf') format('truetype'),
    url('/assets/fonts/PxGrotesk-LightIta.svg#PxGrotesk') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('/assets/fonts/PxGrotesk-BoldIta.eot');
  src:
    url('/assets/fonts/PxGrotesk-BoldIta.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/PxGrotesk-BoldIta.woff2') format('woff2'),
    url('/assets/fonts/PxGrotesk-BoldIta.woff') format('woff'),
    url('/assets/fonts/PxGrotesk-BoldIta.ttf') format('truetype'),
    url('/assets/fonts/PxGrotesk-BoldIta.svg#PxGrotesk') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('/assets/fonts/PxGrotesk-Regular.eot');
  src:
    url('/assets/fonts/PxGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/PxGrotesk-Regular.woff2') format('woff2'),
    url('/assets/fonts/PxGrotesk-Regular.woff') format('woff'),
    url('/assets/fonts/PxGrotesk-Regular.ttf') format('truetype'),
    url('/assets/fonts/PxGrotesk-Regular.svg#PxGrotesk') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('/assets/fonts/PxGrotesk-RegularIta.eot');
  src:
    url('/assets/fonts/PxGrotesk-RegularIta.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/PxGrotesk-RegularIta.woff2') format('woff2'),
    url('/assets/fonts/PxGrotesk-RegularIta.woff') format('woff'),
    url('/assets/fonts/PxGrotesk-RegularIta.ttf') format('truetype'),
    url('/assets/fonts/PxGrotesk-RegularIta.svg#PxGrotesk') format('svg');
  font-weight: 400;
  font-style: italic;
}
