/* Using global sytles is not recommended, prefer local styles via CSS Modules */

:root {
  --text-squash: {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    padding: 0 1rem;
  };
}

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* add some vertical rhythm with the lobotomised owl */
* + * {
  margin-top: 1.5em;
}

/* but remove it from some type of elements */
body, br, li, dt, dd, th, td, option, span, a, nav {
  margin-top: 0;
}

/*
 * page styles
 */
html {
  min-height: 100%;
  background: color(var(--colorPrimary) l(99%));
}

body {
  font-size: 142%;
  line-height: 1.7em;
  text-wrap: balance;

  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family: "PxGrotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--colorPrimary);
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
:--headings {
  @apply --text-squash;
  font-weight: 400;
}

.phenomic-HeadingAnchor {
  display: none;
}

@custom-selector :--blocks p, blockquote, ol, ul, pre, table;
:--blocks {
  @apply --text-squash;
}

blockquote {
  position: relative;
  padding-left: 4rem;
  padding-right: 2rem;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  content: open-quote;
  position: absolute;
  top: 0;
  left: 2rem;
  line-height: 1;
  font-size: 4em;
}

blockquote:after {
  content: close-quote;
  position: absolute;
  bottom: -1rem;
  right: 0;
  line-height: 1;
  font-size: 4em;
}

blockquote cite {
  opacity: 0.6;
  font-size: 80%;
}

blockquote cite:before {
  content: "\2014 \2009";
}

/* minimal styling, prefer removing this and use local styles */
a {
  color: var(--colorPrimary);
  text-decoration: none;
  transition: all 0.2s;
  /* FIXME: we need to have some distinct style on links, temporarily made them bold */
  font-weight: 600;

  &:hover {
    color: color(var(--colorPrimary) l(+42%));
  }
}

/* making small behave more like a p */
small {
  font-size: 0.7em;
  line-height: 1.7;
  display: block;
  opacity: 0.6;
}

.content-box {
  margin-top: 0;
  line-height: 0;

  & :--blocks {
    line-height: 1.7;
  }
  & :--headings {
    line-height: 1.2;
  }
  & > :--blocks:first-child,
  & :--headings {
    padding-top: 1.5em;
  }
  & > :--blocks:last-child {
    padding-bottom: 1.5em;
  }
}

.content-box.dark {
  background-color: var(--colorPrimary);
  color: var(--colorNeutralLight);

  & a {
    color: inherit;
  }
}

.content-box.media > * {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content-box ~ .fluid-embed {
  margin-top: 0;
}

/* FAQ accordion component styling */
.rc-collapse {
  @apply --text-squash;
}

.rc-collapse-anim-active {
  transition: height 0.2s ease-out;
}

.rc-collapse-content-inactive {
  display: none;
}

.rc-collapse-content {
  margin-top: 0;
}

.rc-collapse-header {
  cursor: pointer;

  & .arrow {
    display: inline-block;
    content: '\20';
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 4px solid var(--colorPrimary);
    vertical-align: middle;
    margin-right: 8px;

    @nest .rc-collapse-item-active & {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 4px solid var(--colorPrimary);
      margin-right: 6px;
    }
  }
}

.fluid-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  & iframe,
  & object,
  & embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.no-bullet-list {
  list-style: none;
}

/* font face https://medium.com/@dowsoncreative/a-little-bit-of-web-font-best-practice-5db63ef14d41#.nfals04ia */

@font-face {
  font-family: 'PxGrotesk';
  src: url('/assets/fonts/PxGrotesk-Light.eot');
  src:
    url('/assets/fonts/PxGrotesk-Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/PxGrotesk-Light.woff2') format('woff2'),
    url('/assets/fonts/PxGrotesk-Light.woff') format('woff'),
    url('/assets/fonts/PxGrotesk-Light.ttf') format('truetype'),
    url('/assets/fonts/PxGrotesk-Light.svg#PxGrotesk') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('/assets/fonts/PxGrotesk-Bold.eot');
  src:
    url('/assets/fonts/PxGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/PxGrotesk-Bold.woff2') format('woff2'),
    url('/assets/fonts/PxGrotesk-Bold.woff') format('woff'),
    url('/assets/fonts/PxGrotesk-Bold.ttf') format('truetype'),
    url('/assets/fonts/PxGrotesk-Bold.svg#PxGrotesk') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('/assets/fonts/PxGrotesk-LightIta.eot');
  src:
    url('/assets/fonts/PxGrotesk-LightIta.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/PxGrotesk-LightIta.woff2') format('woff2'),
    url('/assets/fonts/PxGrotesk-LightIta.woff') format('woff'),
    url('/assets/fonts/PxGrotesk-LightIta.ttf') format('truetype'),
    url('/assets/fonts/PxGrotesk-LightIta.svg#PxGrotesk') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('/assets/fonts/PxGrotesk-BoldIta.eot');
  src:
    url('/assets/fonts/PxGrotesk-BoldIta.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/PxGrotesk-BoldIta.woff2') format('woff2'),
    url('/assets/fonts/PxGrotesk-BoldIta.woff') format('woff'),
    url('/assets/fonts/PxGrotesk-BoldIta.ttf') format('truetype'),
    url('/assets/fonts/PxGrotesk-BoldIta.svg#PxGrotesk') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('/assets/fonts/PxGrotesk-Regular.eot');
  src:
    url('/assets/fonts/PxGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/PxGrotesk-Regular.woff2') format('woff2'),
    url('/assets/fonts/PxGrotesk-Regular.woff') format('woff'),
    url('/assets/fonts/PxGrotesk-Regular.ttf') format('truetype'),
    url('/assets/fonts/PxGrotesk-Regular.svg#PxGrotesk') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('/assets/fonts/PxGrotesk-RegularIta.eot');
  src:
    url('/assets/fonts/PxGrotesk-RegularIta.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/PxGrotesk-RegularIta.woff2') format('woff2'),
    url('/assets/fonts/PxGrotesk-RegularIta.woff') format('woff'),
    url('/assets/fonts/PxGrotesk-RegularIta.ttf') format('truetype'),
    url('/assets/fonts/PxGrotesk-RegularIta.svg#PxGrotesk') format('svg');
  font-weight: 400;
  font-style: italic;
}

hr {
  border: 0;
  height: 1px;
  background: var(--colorNeutral);
  opacity: 0.2;
  margin: 2rem 0;
}
