:root {
  --content-squash: {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    padding: 0 1rem;
  }

  --normal-colours: {
    background: color(var(--colorPrimary) l(99%));
    color: var(--colorPrimary);
  }

  --inverted-colours: {
    background-color: var(--colorPrimary);
    color: var(--colorNeutralLight);
  }

  --button-light: {
    color: var(--colorNeutralLight);
    border: 2px solid var(--colorNeutralLight);

    &:hover {
      border: 2px solid color(var(--colorNeutralLight) a(0.5));
      color: color(var(--colorNeutralLight) a(0.5));
    }

    &:active {
      border: 2px solid var(--colorNeutralLight);
      color: var(--colorNeutralLight);
    }
  }

  --button-dark: {
    color: var(--colorPrimary);
    border: 2px solid var(--colorPrimary);

    &:hover {
      border: 2px solid color(var(--colorPrimary) a(0.5));
      color: color(var(--colorPrimary) a(0.5));
    }
  }

  --list-item-light: {
    @apply --normal-colours;

    & .cta {
      @apply --button-dark;
    }

    & .logolight {
      display: none;
    }

    & .logodark {
      display: initial;
    }
  }

  --list-item-dark: {
    @apply --inverted-colours;

    & .cta {
      @apply --button-light;
    }

    & .logolight {
      display: initial;
    }

    & .logodark {
      display: none;
    }
  }
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--blocks p, blockquote, ol, ul, pre, table;
